.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    z-index: 50;



    &__left {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__logo {
        width: 60px;

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 992px) {
            width: 80px;
        }
    }

    &__title {
        font-weight: bold;
        line-height: 1;
        font-size: 28px;
        color: #222;

        span {
            color: #3b82f6;
        }
    }

    @media (max-width: 768px) {
        padding: 4px 4px;
    }
}

.nav {
    display: flex;
    gap: 24px;

    a {
        font-size: 20px;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
            color: #555;
            transform: translateY(-2px);
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.burger {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 32px;
        height: 24px;
        cursor: pointer;

        div {
            width: 100%;
            height: 6px;
            background: black;
        }
    }
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background: white;
    padding: 20px;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 40;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.active {
        transform: translateX(0);
    }

    h1 {
        font-size: 22px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    a {
        font-size: 18px;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: none;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);

    &.active {
        display: block;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;

    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 768px) {
        max-width: 768px;

        padding-left: 0px;
        padding-right: 0px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 1280px) {
        max-width: 1280px;
    }

    @media (min-width: 1536px) {
        max-width: 1536px;
    }
}