/* ==============================
   Normalize / Reset CSS
   ============================== */
/* Box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  background: #fff;
  color: #222;
}

/* Anchor defaults */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img, picture {
  max-width: 100%;
  display: block;
}

/* Form elements */
input, button, textarea, select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Remove animations on users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  z-index: 50;
}
.header__left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__logo {
  width: 60px;
}
.header__logo img {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .header__logo {
    width: 80px;
  }
}
.header__title {
  font-weight: bold;
  line-height: 1;
  font-size: 28px;
  color: #222;
}
.header__title span {
  color: #3b82f6;
}
@media (max-width: 768px) {
  .header {
    padding: 4px 4px;
  }
}

.nav {
  display: flex;
  gap: 24px;
}
.nav a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.nav a:hover {
  color: #555;
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 32px;
    height: 24px;
    cursor: pointer;
  }
  .burger div {
    width: 100%;
    height: 6px;
    background: black;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background: white;
  padding: 20px;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 40;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.burger-menu.active {
  transform: translateX(0);
}
.burger-menu h1 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.burger-menu a {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
.overlay.active {
  display: block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.hero {
  background-color: rgb(235, 249, 255);
  width: 100%;
  padding-top: 120px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
}
.hero .container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .hero .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .hero .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .hero .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .hero .container {
    max-width: 1536px;
  }
}
.hero .container .flex-block {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero .container .flex-block {
    flex-direction: row-reverse;
    transform: translate(0, 100px);
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block {
    transform: translate(0, 120px);
  }
}
@media (min-width: 1280px) {
  .hero .container .flex-block {
    transform: translate(0, 140px);
  }
}
@media (min-width: 768px) {
  .hero .container .flex-block img {
    width: 50%;
  }
}
.hero .container .flex-block .text-block {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .hero .container .flex-block .text-block {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .hero .container .flex-block .text-block {
    width: 65%;
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block {
    width: 50%;
    padding-top: 80px;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block {
    padding-top: 80px;
  }
}
@media (min-width: 1280px) {
  .hero .container .flex-block .text-block {
    padding-top: 120px;
  }
}
.hero .container .flex-block .text-block h1 {
  line-height: 1.3rem;
}
@media (min-width: 500px) {
  .hero .container .flex-block .text-block h1 {
    font-size: 50px;
    line-height: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block h1 {
    font-size: 50px;
    line-height: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block h1 {
    font-size: 60px;
    line-height: 2.6rem;
  }
}
@media (min-width: 500px) {
  .hero .container .flex-block .text-block .description {
    font-size: 20px;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .hero .container .flex-block .text-block .description {
    font-size: 18px;
    line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block .description {
    font-size: 20px;
    line-height: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block .description {
    font-size: 25px;
    line-height: 2.4rem;
  }
}
.hero .container .flex-block .text-block__button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: oklch(70.7% 0.165 254.624deg);
  padding: 1px 4px;
  border-radius: 10px;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
@media (min-width: 500px) {
  .hero .container .flex-block .text-block__button {
    font-size: 20px;
    padding: 4px 8px;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block__button {
    font-size: 20px;
    padding: 4px 8px;
  }
}
@media (min-width: 1024px) {
  .hero .container .flex-block .text-block__button {
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 14px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.about-section {
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .about-section {
    margin-top: 10rem;
  }
}

.about-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .about-header {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  .about-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.about-header__main-title {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 800;
  color: #3c3c3c;
  font-size: 1.5rem;
  line-height: 1.25;
}
@media (min-width: 320px) {
  .about-header__main-title {
    font-size: 1.875rem;
    line-height: 1.5;
  }
}
@media (min-width: 640px) {
  .about-header__main-title {
    font-size: 2.25rem;
    line-height: 1.75;
  }
}
@media (min-width: 1280px) {
  .about-header__main-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 768px) {
  .about-header__main-title {
    width: 45%;
  }
}
.about-header__main-title--blue {
  color: #60a5fa;
}
.about-header__small-text {
  width: 90%;
  max-width: 70%;
  font-weight: 200;
  color: #7a7a7a;
  font-size: 0.75rem;
}
@media (min-width: 320px) {
  .about-header__small-text {
    font-size: 0.875rem;
  }
}
@media (min-width: 640px) {
  .about-header__small-text {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .about-header__small-text {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .about-header__small-text {
    width: 35%;
    padding-top: 1.5rem;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .about-header__small-text {
    width: 30%;
  }
}

.about-content {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2.5rem;
  gap: 3rem;
}
@media (min-width: 1024px) {
  .about-content {
    margin-top: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .about-content {
    margin-top: 5.5rem;
  }
}
@media (min-width: 1536px) {
  .about-content {
    margin-top: 8rem;
    justify-content: space-between;
  }
}
@media (min-width: 640px) {
  .about-content {
    gap: 5rem;
  }
}
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    gap: 0.5rem;
  }
}

.about-text-list {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (min-width: 320px) {
  .about-text-list {
    gap: 1rem;
  }
}
@media (min-width: 640px) {
  .about-text-list {
    gap: 3rem;
  }
}
@media (min-width: 768px) {
  .about-text-list {
    gap: 0.25rem;
    width: 30%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1024px) {
  .about-text-list {
    gap: 0.75rem;
    width: 35%;
    padding-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .about-text-list {
    padding-top: 2rem;
  }
}

.about-text-item {
  display: flex;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  justify-content: space-between;
}
.about-text-item__icon-wrapper {
  width: 9%;
}
.about-text-item__icon {
  width: 100%;
  aspect-ratio: 1/1;
}
.about-text-item__text {
  width: 89%;
  font-weight: 200;
  color: #78716c;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .about-text-item__text {
    font-size: 1rem;
  }
}
@media (min-width: 640px) {
  .about-text-item__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .about-text-item__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .about-text-item__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 1280px) {
  .about-text-item__text {
    font-size: 1.25rem;
  }
}

.about-images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 0 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .about-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .about-images {
    width: 65%;
  }
}
@media (min-width: 1536px) {
  .about-images {
    width: 55%;
  }
}
.about-images__main, .about-images__small-sq, .about-images__sub-wide {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.about-images__main {
  aspect-ratio: 2/3;
  border-radius: 1rem;
}
.about-images__sub-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.about-images__sub-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}
.about-images__small-sq {
  aspect-ratio: 1/1;
  border-radius: 2rem;
}
.about-images__sub-wide {
  aspect-ratio: 3/2;
  border-radius: 1rem;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */