@use 'normalizer';
@use 'variables' as *;
@use 'header';
@use 'hero';



body{
    width: 100%;
    height: 100%;
    font-family: "Nunito", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

